<div *ngIf="product.title" class="card">
  <img *ngIf="product.imageUrl" [src]="product.imageUrl" class="card-img-top" alt="{{product.title}}">
  <div class="card-body">
    <h5 class="card-title">{{ product.title}}</h5>
    <p class="card-text">{{ product.price | currency: 'USD' : 'symbol' }}</p>

  </div>
  <div *ngIf="showActions && shoppingCart" class="card-footer d-grid">
    <button *ngIf="shoppingCart.getQuantity(product.id) == 0;" (click)="addToCart()" class="btn btn-secondary">Add To
      Cart</button>

    <product-quantity [product]="product" [shopping-cart]="shoppingCart"></product-quantity>
  </div>
</div>