<h1>Shopping Cart</h1>
<ng-container *ngIf="shoppingCart">
  <p>
    You have {{shoppingCart.totalCartItemsCount}} items in your shopping cart.

  </p>
  <div>
    <a *ngIf="shoppingCart.totalCartItemsCount" routerLink="/check-out" class="btn btn-primary  ms-auto">Check Out</a>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th class="text-center">Quantity</th>
        <th class="text-end">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of shoppingCart.items">
        <td>
          <img [src]="item.imageUrl" class="thumbnail" />
        </td>
        <td>{{ item.title }}</td>
        <td>
          <product-quantity [product]="getProduct(item)" [shopping-cart]="shoppingCart"></product-quantity>
        </td>
        <td class="text-end">{{ item.totalPrice | currency: 'USD': 'symbol'}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th class="text-center">{{ shoppingCart.totalCartItemsCount }}</th>
        <th class="text-end">{{ shoppingCart.totalPrice | currency: 'USD': 'symbol' }}</th>
      </tr>
    </tfoot>
  </table>
  <button *ngIf="shoppingCart.totalCartItemsCount > 0" (click)="clearCart()"
    class="btn btn-light btn-sm ms-auto my-5">Clear
    Shopping Cart</button>
</ng-container>